*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

main{
    height: 90vh;
    background-image: url('sfondo.jpg');
    overflow: scroll;
}

.conteiner{
    width: 95%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tab{
    width: 322px;
    height: 440px;
    font-size: 20px;
    margin: 10px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.tab img{
    width: 300px;
    height: 420px;
}

.tab li{
    list-style-type: none;
    margin-bottom: 10px;
}

.list{
    position: absolute;
    top: 10px;
    width: 300px;
    height: 420px;
    padding: 20px;
    display: none;
    background-color: black;
}

.list img{
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

.visible{
    display: block;
}

.fa-star{
    color: yellow;
}

#sinossi{
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
   overflow: hidden;
}
